                                                            /* ------------------------------------- */

                                                            /* --- COMIENZO DE ESTILOS GENERALES --- */

                                                            /* ------------------------------------- */

/* AJUSTES PRE-DEFINIDOS */

* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul{
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------- */

:root {
    --color_1: #022B3A; /* A<ul oscuro header */
    --color_2: #1F7A8C; /* Azul del body */
    --color_3: #1F1F1F; /* Gris oscuro */
    --color_4: #FFFFFF; /* Blanco puro, letras */
}

body {
    background-color: var(--color_2);
    color: var(--color_4);
}

body.dark-mode {
    --color_1: #022B3A;
    --color_2: #1F1F1F;
    --color_3: #1F7A8C;
    --color_4: #ffffff;
}

/* BOTON ACTIVAR-DESACTIVAR DARKMODE */

.dark-mode-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  /* Input oculto */
  .dark-mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* El deslizador */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color_3);
    border-radius: 25px;
    transition: background-color 0.3s;
  }
  
  /* El círculo interior */
  .slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3.5px;
    background-color: var(--color_4);
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  /* Estado activado */
  input:checked + .slider {
    background-color: var(--color_4);
  }
  
  input:checked + .slider::before {
    background-color: var(--color_3);
    transform: translateX(22px);
  }

/* FIN BOTON ACTIVAR-DESACTIVAR DARKMODE */
/* ------------------------- */

/* ------------------------------ */
/* ----- COMIENZO NAVEGADOR ----- */
/* ------------------------------ */

.header__content{
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--color_1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo{
    width: 200px;
}

.header__menu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header__menu-link {
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--color_4);
    display: inline-block; /* No se muy bien por que, pero sin este display, el scale no funciona, preguntar en clase */
}

.header__menu-link:hover {
    transform: scale(1.5);
    color: var(--color_2);
}

.header__buttons{
    padding-right: 0.5rem;
}

.header__buttons--button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid var(--color_2);
    height: 4rem;
    gap: 1rem;
}

.header__button--link a{
    display: block;
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--color_4);
}


.header__button--link a:hover {
    transform: scale(1.3); 
    color: var(--color_2);
}

/* ------------------------- */
/* ----- FIN NAVEGADOR ----- */
/* ------------------------- */

/* --------------------------- */
/* ----- COMIENZO FOOTER ----- */
/* --------------------------- */

.footer__index{
    background-color: var(--color_3);
    padding: 30px 40px 30px;
}

.footer__copyright{
    font-size: large;
    text-align: center;
    text-transform: uppercase;
    color: var(--color_4);
    padding: 0px 0px 30px;
}

.footer__index h3 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--color_4);
    padding: 0 0 0.8rem; 
}

 .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 2rem; 
}


.footer__contact-art, .footer__nav-art, .footer__social-art, .footer__payment-art{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__contact--links, .footer__nav--links{
    display: flex;
    flex-direction: column;
}


.footer__social--links, .footer__payment--links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.footer__social-link, .footer__payment-link, .footer__nav--links a, .footer__contact--links a {
    transition: transform 0.3s ease, color 0.3s ease;
    color: var(--color_4);
}

.footer__social-link:hover, .footer__payment-link:hover, .footer__nav--links a:hover, .footer__contact--links a:hover {
    transform: scale(1.5);
    color: var(--color_2);
}





                                                            /* -------------------------------- */
                                                            /*     ------------------------     */
                                                            /* --- FIN DE ESTILOS GENERALES --- */
                                                            /*     ------------------------     */
                                                            /* -------------------------------- */

                                                /* -------------------------------------------------------- */

                                                            /* ----------------------------- */
                                                            /*      ---------------------    */
                                                            /* --- MAIN -> PÁGINA INICIO --- */
                                                            /*      ---------------------    */
                                                            /* ----------------------------- */

.main__index{
    width: 100%;
    height: 73.5vh;
    padding: 3rem;
    text-align: center;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
    align-items: center;
}

.bienvenida__title, .summary__title, .card__title, .contacts__title{
    color: var(--color_3);
}


.separadores{
    width: 20rem;
    margin: 20px auto;
}

.card{
    padding: 1rem;
}

.bienvenida {
    background: url('../assets/img/fondo_titulo.png') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.bienvenida__title {
    font-size: 2.5rem;
    color: var(--color_4);
}

.bienvenida__description {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.bienvenida__cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color_2);
    color: var(--color_4);
    border-radius: 0.5rem;
    transition: background 0.3s ease;
}

.bienvenida__cta:hover {
    background-color: var(--color_1);
}

/* caracteristicas Section */

.caracteristicas{
    padding: 20px 20px;
}

.caracteristicas__title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 10px;
}

.caracteristicas__list {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.caracteristicas__item {
    width: 100%;
    background-color: var(--color_4);
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 0.6rem;
    text-align: center;
}

.caracteristicas__icon {
    font-size: 2.5rem;
    color: var(--color_2);
    padding-bottom: 0.2rem;
}

.caracteristicas__item-title {
    color: var(--color_1);
    font-size: 1.2rem;
    padding-bottom: 0.6rem;
}

.caracteristicas__item-description {
    font-size: 0.9rem;
    color: var(--color_3);
}

/* Products Section */
.products {
    padding: 0px 20px 30px;
}

.products__title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.6rem;
}

.products__flex {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color_4);
    border-radius: 0.6rem;
    overflow: hidden;
    text-align: center;
}

.product-card__image {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    padding-bottom: 0.6rem;
}

.product-card__title {
    color: var(--color_1);
    font-size: 1.2rem;
    padding: 0.5rem;
}

.product-card__link {
    padding: 10px 15px;
    background-color: var(--color_1);
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background 0.3s ease;
}

.product-card__link:hover {
    background-color: var(--color_2);
}

/* testimonios Section */
.testimonios {
    padding: 3rem 1.2rem;
    text-align: center;
    background-color: var(--color_1);
}

.testimonios__title {
    color: var(--color_4);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.testimonios__list {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.testimonios__item {
    width: 100%;
    background-color: var(--color_4);
    padding: 1.2rem;
    border-radius: 0.6rem;
}

.testimonios__text {
    font-size: 1rem;
    margin-bottom: 10px;
    font-style: italic;
    color: var(--color_3);
}

.testimonios__author {
    font-weight: bold; 
    color: var(--color_3);
}





                                                            /* -------------------------------- */
                                                            /*      ------------------------    */
                                                            /* --- MAIN -> PÁGINA SERVICIOS --- */
                                                            /*      ------------------------    */
                                                            /* -------------------------------- */

.services__page {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.services__page--section {
    background-color: var(--color_1);
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
}

.services__page--title {
    color: var(--color_4);
    margin-bottom: 1rem;
    text-align: center;
}

.service__list {
    padding-left: 1.5rem;
}

.service__list-item {
    padding: 0.5rem;
    list-style-type: disc;
}

.services__page--cta {
    margin-top: 1rem;
    text-align: center;
}

.services__page--cta-link {
    background-color: var(--color_2);
    color: var(--color_4);
    padding: 0.7rem 1.5rem;
    border-radius: 1.5rem 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.services__page--cta-link:hover {
    background-color: var(--color_4);
    color: var(--color_2);
}

.separadores__services{
    width: 80%;
    margin: 1rem auto;
}

.comments {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
}

.comments__item {
    flex: 1 1 calc(33% - 2rem); /* HACER EL FLEX DE ESTA MANERA ME PERMITE QUE SE VAYA AJUSTANDO SEGUN EL TAMAÑO DE LOS ELEMENTOS, Y POR EJEMPLO DE LA PÁGINA, SIN DARNOS CUENTA ESTO NOS PERMITE QUE EL DISEÑO SEA RESPONSIVE. */
    background-color: var(--color_2);
    padding: 1.5rem;
    border-radius: 1.5rem 0.5rem;
    text-align: center;
}

.comments__title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--color_4);
}

.comments__description {
    font-size: 1rem;
    color: var(--color_3)
}                                                    

.promo {
    padding: 40px 20px;
    text-align: center;
    border-radius: 0.5rem;
    background-color: var(--color_1);
    color: var(--color_4);
}

.promo__title {
    font-size: 2rem;
    padding-bottom: 0.7rem;
}

.promo__description {
    font-size: 1.1rem;
    padding-bottom: 1.2rem;
}

.promo__cta {
    display: inline-block;
    padding: 0.7rem;
    background-color: var(--color_2);
    color: var(--color_4);
    font-weight: 700;
    border-radius: 1.5rem 0.3rem;
    transition: background 0.3s ease;
}

.promo__cta:hover {
    background-color: var(--color_4);
    color: var(--color_2);
}